/* http://meyerweb.com/eric/tools/css/reset/ /* http://meyerweb.com/eric/tools/css/reset/ /* http://meyerweb.com/eric/tools/css/reset/ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Elsie", cursive;
}

// body {
//   background-color: cyan;
// }

// #wrapper {
//   background: darkcyan;
//   margin: 0 5em;
// }

// header {
//   background: darkorchid;
//   display: flex;
//   flex-direction: column;

//   article {
//     background: darkred;
//     width: 50%;
//     // height: 500px;
//     height: 31.2rem;
//     display: flex;
//     flex-direction: column;
//     // flex: 1;
//     align-content: center;
//     justify-content: space-around;
//     padding: 2rem 1rem;

//     div {
//       h1 {
//         font-family: Inter;
//         font-style: normal;
//         font-weight: bold;
//         font-size: 2rem;
//         line-height: 2.6rem;
//         // margin-top: 50px;
//         margin-top: 3.2rem;
//         color: #ffffff;
//       }

//       p {
//         font-family: Inter;
//         font-style: normal;
//         font-weight: normal;
//         font-size: medium;
//         line-height: 1.4rem;
//         margin-top: -1rem;
//         padding-right: 1.5em;
//         width: 75%;
//         color: #f3f3f3;
//       }
//     }

//     details {
//       //   margin-top: 150px;
//       color: #d0d0d0;
//     }
//   }

//   aside {
//     position: absolute;
//     left: 50%;
//     right: 0;
//     // margin-right: 3em;
//     margin-right: 3rem;
//     figure {
//       // margin-top: 80px;
//       margin-top: 5rem;
//     }
//   }
// }

// main {
//   display: flex;
//   flex-direction: column;
//   margin-top: 1.3rem;
//   padding: 1rem;

//   h2 {
//     font-size: 1.8rem;
//     color: #ffffff;
//   }
//   section {
//     display: flex;
//     margin-top: 3rem;
//     align-items: flex-start;
//     justify-content: space-between;
//     div {
//       // width: 54%;
//       flex: 2;

//       span {
//         display: flex;
//         justify-content: start;
//         flex-wrap: wrap;

//         time {
//           flex: 2;
//           p {
//             font-family: Inter;
//             font-style: normal;
//             font-weight: 600;
//             font-size: 1.15rem;
//             line-height: 1.3rem;
//             color: #777777;
//             // margin-left: 0;
//           }
//         }

//         p {
//           font-family: Inter;
//           font-style: normal;
//           font-weight: 600;
//           font-size: 1.6rem;
//           line-height: 0.1rem;
//           color: #ffffff;
//           // margin-left: 4rem;
//           flex: 6;
//         }
//       }
//       hr {
//         margin-top: -0.2rem;
//         background: #eeeeee;
//         width: 90%;
//         margin-left: 0;
//       }
//     }

//     figure {
//       flex: 1;

//       video {
//         width: 100%;
//         height: auto;
//       }
//     }
//   }
// }

// #projects {
//   display: flex;
//   flex-direction: column;
//   margin-top: 3rem;

//   div {
//     background: springgreen;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     div {
//       flex-direction: column;
//       align-items: end;
//       flex: 4;
//       background: blue;

//       h3 {
//         font-family: Inter;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 1.6rem;
//         line-height: 0.1rem;
//         color: #ffffff;
//       }

//       p {
//         font-family: Inter;
//         font-style: normal;
//         font-weight: normal;
//         font-size: 1rem;
//         line-height: 0.1rem;
//         color: #bcbcbc;
//       }
//     }

//     nav {
//       display: flex;
//       align-self: baseline;
//       justify-content: space-between;
//       margin-top: 1rem;
//       flex: 1;
//       background: bisque;
//     }
//   }

//   #projImg {
//     display: flex;
//     flex-wrap: wrap;
//     margin: 2rem 0;

//     img {
//       width: 49%;
//       margin: 0.5rem 0;
//     }
//   }
// }

// #employers {
//   background: blueviolet;
//   display: flex;
//   padding: 2rem;
//   justify-content: center;

//   img {
//     width: 17%;
//     height: 2rem;
//     margin: 0.2rem;
//   }
// }

// #contacts {
//   background: aliceblue;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 50%;
//   margin: 0 auto;

//   #contactTile {
//     background: brown;
//     margin-bottom: -1rem;
//     font-family: Inter;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 1rem;
//     line-height: 1.2rem;
//     text-align: center;
//     color: #aaaaaa;
//   }

//   h2 {
//     background: black;
//     font-family: Inter;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 2.1rem;
//     line-height: 3rem;
//     text-align: center;
//     color: #ffffff;
//   }

//   #contactBody {
//     background: blue;
//     font-family: Inter;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 0.95rem;
//     line-height: 1.3rem;
//     text-align: center;
//     color: #ffffff;
//     margin-top: -1.1rem;
//   }

//   figure {
//     display: flex;
//     background: blueviolet;
//     align-items: center;
//     margin-top: -1rem;
//     justify-content: center;
//     img {
//       width: 5%;
//       height: 2em;
//       border-radius: 50%;
//       padding: 0.2rem;
//       background: whitesmoke;
//     }
//     figcaption {
//       background: gold;
//       font-family: Inter;
//       font-style: normal;
//       font-weight: 600;
//       font-size: 1.05rem;
//       line-height: 0.1rem;
//       color: #ffffff;
//       h5 {
//         font-family: Inter;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 1.1rem;
//         line-height: 0.1rem;
//         color: #ffffff;
//       }
//     }
//     p {
//       font-family: Inter;
//       font-style: normal;
//       font-weight: normal;
//       font-size: 0.9rem;
//       line-height: 0.5rem;
//       color: #e2e2e2;
//       margin-top: -1rem;
//     }
//   }
// }

// footer {
//   display: flex;
//   background: greenyellow;
//   align-items: center;
//   justify-content: center;
//   padding: 1rem;
//   margin: 3rem 0 0 0;

//   a {
//     font-family: Inter;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 16px;
//     line-height: 19px;
//     /* identical to box height, or 119% */
//     margin: 0 0.5rem;
//     color: #cdcdcd;
//   }
// }

body {
  background-color: cyan;
}

// #wrapper {
//   background: darkcyan;
//   margin: 0 5em;
// }

// nav {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   h2 {
//     background: coral;
//     font-family: Elsie;
//     font-style: normal;
//     font-weight: 900;
//     font-size: 1.6rem;
//     line-height: 28px;
//     color: #ffffff;
//     flex: 9;
//   }

//   div {
//     background: chartreuse;
//     display: flex;
//     flex: 2;
//     align-items: center;
//     justify-content: space-between;

//     a {
//       font-family: Inter;
//       font-style: normal;
//       font-weight: 500;
//       font-size: 1rem;
//       line-height: 1.7rem;
//       color: #ffffff;
//     }
//   }
// }
// header {
//   background: darkorchid;
//   display: flex;
//   flex-direction: column;

//   article {
//     background: darkred;
//     width: 50%;
//     height: 40rem;
//     display: flex;
//     flex-direction: column;
//     align-content: center;
//     justify-content: space-between;
//     padding: 2rem 1rem;
//     margin-top: 5rem;
//     margin-bottom: 1.5rem;

//     div {
//       h1 {
//         font-family: Inter;
//         font-style: normal;
//         font-weight: bold;
//         font-size: 2.4rem;
//         line-height: 3.1rem;
//         margin-top: 3.2rem;
//         color: #ffffff;
//       }

//       p {
//         font-family: Inter;
//         font-style: normal;
//         font-weight: normal;
//         font-size: 1.2rem;
//         line-height: 2rem;
//         margin-top: 2rem;
//         padding-right: 1.5rem;
//         width: 75%;
//         color: #f3f3f3;
//       }
//     }

//     details {
//       font-style: normal;
//       font-weight: 600;
//       font-size: 1.2rem;
//       line-height: 2rem;
//       color: #d0d0d0;
//     }
//   }

//   aside {
//     position: absolute;
//     left: 50%;
//     right: 0;
//     margin-right: 5rem;

//     figure {
//       margin-top: 5rem;

//       img {
//         width: 100%;
//         height: 50rem;
//       }
//     }
//   }
// }

// main {
//   display: flex;
//   flex-direction: column;
//   margin-top: 6rem;
//   padding: 1rem 0 1rem 1rem;

//   h2 {
//     font-family: Inter;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 2rem;
//     line-height: 1.7rem;
//     color: #ffffff;
//   }
//   section {
//     display: flex;
//     margin-top: 5rem;
//     align-items: flex-start;
//     justify-content: space-between;

//     div {
//       flex: 2;

//       span {
//         display: flex;
//         justify-content: start;
//         flex-wrap: wrap;
//         margin: 1.2rem 0;

//         time {
//           flex: 2;
//           p {
//             font-family: Inter;
//             font-style: normal;
//             font-weight: 600;
//             font-size: 1.15rem;
//             line-height: 1.3rem;
//             color: #777777;
//           }
//         }

//         p {
//           font-family: Inter;
//           font-style: normal;
//           font-weight: 600;
//           font-size: 1.4rem;
//           line-height: 1rem;
//           color: #ffffff;
//           flex: 6;
//         }
//       }
//       hr {
//         background: #eeeeee;
//         width: 75%;
//         margin-left: 0;
//       }
//     }

//     figure {
//       flex: 1;

//       video {
//         width: 100%;
//         height: auto;
//       }
//     }
//   }
// }

// #projects {
//   display: flex;
//   flex-direction: column;
//   margin-top: 5rem;

//   div {
//     background: springgreen;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     div {
//       flex-direction: column;
//       align-items: end;
//       flex: 4;
//       background: blue;

//       h3 {
//         font-family: Inter;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 1.6rem;
//         line-height: 2rem;
//         color: #ffffff;
//       }

//       p {
//         font-family: Inter;
//         font-style: normal;
//         font-weight: normal;
//         font-size: 0.9rem;
//         line-height: 1.4rem;
//         color: #bcbcbc;
//       }
//     }

//     nav {
//       display: flex;
//       align-self: baseline;
//       justify-content: space-between;
//       margin-top: 1rem;
//       flex: 1;
//       background: bisque;

//       a {
//         font-family: Inter;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 1.2rem;
//         line-height: 1.2rem;
//         color: #aaaaaa;
//       }
//     }
//   }

//   #projImg {
//     display: flex;
//     flex-wrap: wrap;
//     margin: 2rem 0;

//     img {
//       width: 49%;
//       margin: 0.8rem 0;
//     }
//   }
// }

// #employers {
//   background: blueviolet;
//   display: flex;
//   padding: 2rem;
//   justify-content: center;
//   margin: 5rem 0;

//   img {
//     width: 15%;
//     height: 4rem;
//     margin: 0 1rem;
//   }
// }

// #contacts {
//   background: aliceblue;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 50%;
//   margin: 0 auto;

//   #contactTile {
//     background: brown;
//     font-family: Inter;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 1.1rem;
//     line-height: 1.3rem;
//     text-align: center;
//     color: #aaaaaa;
//   }

//   h2 {
//     background: black;
//     font-family: Inter;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 2.4rem;
//     line-height: 2.8rem;
//     text-align: center;
//     color: #ffffff;
//     margin: 1rem 0;
//   }

//   #contactBody {
//     background: blue;
//     font-family: Inter;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 0.97rem;
//     line-height: 1.4rem;
//     text-align: center;
//     color: #ffffff;
//   }

//   figure {
//     display: flex;
//     background: blueviolet;
//     align-items: center;
//     margin: 1rem;
//     justify-content: center;

//     img {
//       width: 5%;
//       height: 2em;
//       border-radius: 50%;
//       padding: 0.2rem;
//       background: whitesmoke;
//     }
//     figcaption {
//       background: black;
//       font-family: Inter;
//       margin-left: 0.3rem;

//       h5 {
//         font-family: Inter;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 1rem;
//         line-height: 1.2rem;
//         color: #ffffff;
//       }
//       p {
//         font-family: Inter;
//         font-style: normal;
//         font-weight: normal;
//         font-size: 0.7rem;
//         line-height: 1rem;
//         color: #e2e2e2;
//       }
//     }
//   }
// }

// footer {
//   display: flex;
//   background: greenyellow;
//   align-items: center;
//   justify-content: center;
//   padding: 1rem;
//   margin: 5rem 0 0 0;

//   a {
//     font-family: Inter;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 1.1rem;
//     line-height: 1.2rem;
//     margin: 0 0.5rem;
//     color: #cdcdcd;
//   }
// }

#wrapper {
  background: darkcyan;
  // margin: 0 5em;
  margin: 0 1.45em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    background: coral;
    font-family: Elsie;
    font-style: normal;
    font-weight: 900;
    // font-size: 1.6rem;
    // line-height: 28px;
    color: #ffffff;
    flex: 9;

    font-size: 1.45rem;
    line-height: 2.1rem;
    margin: 1rem 0;
  }

  div {
    background: chartreuse;
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: space-between;

    a {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.7rem;
      color: #ffffff;
    }
  }
}

header {
  background: darkorchid;
  display: flex;
  flex-direction: column;

  article {
    background: darkred;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    order: 2;

    div {
      h1 {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        margin-top: 3.2rem;
        color: #ffffff;

        font-size: 2.8rem;
        line-height: 4rem;
        text-align: center;
        margin-bottom: 1rem;
      }

      p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        color: #f3f3f3;

        font-size: 1.15rem;
        line-height: 1.8rem;
        text-align: center;
        width: 80%;
        margin: 0 auto;
      }
    }

    details {
      font-style: normal;
      font-weight: 600;
      color: #d0d0d0;

      font-size: 1.2rem;
      line-height: 1.5rem;
      text-align: center;
      margin: 2rem;
    }
  }

  aside {
    order: 1;

    figure {
      margin-top: 5rem;

      img {
        width: 100%;
        height: 35rem;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;

  margin-top: 3rem;

  h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    color: #ffffff;

    font-size: 2.2rem;
    line-height: 2rem;
  }
  section {
    display: flex;
    margin-top: 2rem;
    align-items: flex-start;
    justify-content: space-between;

    div {
      background: antiquewhite;

      span {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        margin: 1.2rem 0;

        background: #aeb5bb;
        align-items: center;

        time {
          p {
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            color: #777777;

            font-size: 1rem;
            line-height: 1.2rem;
            margin-left: 0;
          }
        }

        p {
          font-family: Inter;
          font-style: normal;
          font-weight: 600;
          font-size: 1.4rem;
          color: #ffffff;

          line-height: 1.7rem;
          margin-left: 1.1rem;
        }
      }
      hr {
        background: #eeeeee;
        margin-left: 0;

        width: 100%;
      }
    }

    figure {
      display: none;
      flex: 1;

      video {
        width: 100%;
        height: auto;
      }
    }
  }
}

#projects {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

  margin-bottom: 1rem;

  div {
    background: springgreen;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      flex-direction: column;
      align-items: end;
      flex: 4;
      background: blue;

      h3 {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2rem;
        color: #ffffff;
      }

      p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 0.9rem;
        line-height: 1.4rem;
        color: #bcbcbc;
      }
    }

    nav {
      display: flex;
      align-self: baseline;
      justify-content: space-between;
      margin-top: 1rem;
      flex: 1;
      background: bisque;

      a {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.2rem;
        color: #aaaaaa;
      }
    }
  }

  #projImg {
    display: flex;
    flex-wrap: wrap;

    margin: 0.5rem 0;

    img {
      margin: 0.8rem 0;

      width: 100%;
    }
  }
}

#employers {
  background: blueviolet;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  margin: 0;

  img {
    height: 4rem;

    width: 20%;
    margin: 1rem 2rem;
  }
}

#contacts {
  background: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 5rem auto;

  #contactTile {
    background: brown;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-align: center;
    color: #aaaaaa;
  }

  h2 {
    background: black;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-align: center;
    color: #ffffff;
    margin: 1rem 0;
  }

  #contactBody {
    background: blue;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.97rem;
    line-height: 1.4rem;
    text-align: center;
    color: #ffffff;
  }

  figure {
    display: flex;
    background: blueviolet;
    align-items: center;
    margin: 1rem;
    justify-content: center;

    img {
      width: 5%;
      height: 2em;
      border-radius: 50%;
      padding: 0.2rem;
      background: whitesmoke;
    }
    figcaption {
      background: black;
      font-family: Inter;
      margin-left: 0.3rem;

      h5 {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.2rem;
        color: #ffffff;
      }
      p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 0.7rem;
        line-height: 1rem;
        color: #e2e2e2;
      }
    }
  }
}

footer {
  display: flex;
  background: greenyellow;
  align-items: center;

  padding: 1rem 0;
  margin-bottom: 3rem;
  justify-content: space-between;

  a {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.2rem;
    color: #cdcdcd;

    margin: 0;
  }
}
