body {
  background-color: cyan;
}

#wrapper {
  background: darkcyan;
  margin: 0 5em;
}

header {
  background: darkorchid;
  display: flex;
  flex-direction: column;

  article {
    background: darkred;
    width: 50%;
    // height: 500px;
    height: 31.2rem;
    display: flex;
    flex-direction: column;
    // flex: 1;
    align-content: center;
    justify-content: space-around;
    padding: 2rem 1rem;

    div {
      h1 {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.6rem;
        // margin-top: 50px;
        margin-top: 3.2rem;
      }

      p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: medium;
        line-height: 1.4rem;
        margin-top: -1rem;
        padding-right: 1.5em;
        width: 75%;
      }
    }

    details {
      //   margin-top: 150px;
    }
  }

  aside {
    position: absolute;
    left: 50%;
    right: 0;
    // margin-right: 3em;
    margin-right: 3rem;
    figure {
      // margin-top: 80px;
      margin-top: 5rem;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
  padding: 1rem;

  h2 {
    font-size: 1.7rem;
  }
  section {
    display: flex;
    margin-top: 3rem;
    align-items: flex-start;
    justify-content: space-between;
    div {
      // width: 54%;
      flex: 2;

      span {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;

        time {
          flex: 2;
          p {
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 1.15rem;
            line-height: 1.3rem;
            /* color: #777777; */
            // margin-left: 0;
          }
        }

        p {
          font-family: Inter;
          font-style: normal;
          font-weight: 600;
          font-size: 1.7rem;
          line-height: 0.1rem;
          color: #ffffff;
          // margin-left: 4rem;
          flex: 6;
        }
      }
      hr {
        margin-top: -0.2rem;
        background: #eeeeee;
        width: 90%;
        margin-left: 0;
      }
    }

    figure {
      flex: 1;

      video {
        width: 100%;
        height: auto;
      }
    }
  }
}

#projects {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  div {
    background: springgreen;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      flex-direction: column;
      align-items: end;
      flex: 4;
      background: blue;

      h3 {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 0.1rem;
        color: #ffffff;
      }

      p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 0.1rem;
        color: #bcbcbc;
      }
    }

    nav {
      display: flex;
      align-self: baseline;
      justify-content: space-between;
      margin-top: 1rem;
      flex: 1;
      background: bisque;
    }
  }

  #projImg {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;

    img {
      width: 49%;
      margin: 0.5rem 0;
    }
  }
}

#employers {
  background: blueviolet;
  display: flex;
  padding: 2rem;
  justify-content: center;

  img {
    width: 17%;
    height: 2rem;
    margin: 0.2rem;
  }
}
